.main {
  width: 60%;
  padding: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("../images/background3.jpg");
  left: 15%;
  position: relative;
  text-align: center;
  display: inline-block;
}
.button {
  font-size: 18px;
  text-align: center;
  background-color: black;
  color: #fd9911;
  border-radius: 30px;
  padding: 7px 0px;
  width: 400px;
}
